.operBar{
	position:absolute;z-index:5;top:0;width:360px;left:50%;font-size:0;
	margin-left:-179px;border:1px solid #d2d2d2;border-top:0;background-color:#fff;padding:2px 0;text-align:center;
}
.operBar em{font-size:14px;}
.toptool{position:absolute;z-index:10;top:2px;background-color:#fff;}
.toptool-left{left:2px;}
.toptool-right{right:2px;}
#attachName{display:inline-block}
#attachName i{color:blue;}
.operBar:hover{opacity:1;filter:alpha(opacity=100);}
.monitor-west{position:absolute;left:0;top:0;bottom:0;width:200px;z-index:10;}
.monitor-center{position: absolute;left:200px;top:0;bottom:0;right:0;overflow: auto;background-color: #f2f2f2;/*background: url(images/backimg.png)*/}
.modulepanel{padding:5px;}
.modulepanel-subtitle{
	font-size:14px;font-weight: bolder;color : #888;cursor:pointer;
	background-color: #f2f2f2;border:1px solid #d4d4d4;padding:5px 6px;border-top-width:0;
}
.modulepanel-subtitle.first{border-top-width:1px;}
.module-proxy{position:absolute;z-index:99999;cursor: move;}
.modulepanel-subitem{display:none;border:1px solid #d4d4d4;border-top:0;padding:3px 3px 3px 0;font-size:0;}
.modulepanel-con{
	margin:0 0 3px 3px;cursor:move;display:inline-block;*display:inline;*zoom:1;
}
.modulepanel-con.modulepanel-row{margin:0 0 3px 0;text-align: center;display:block;}
.modulepanel-con:hover{opacity:0.8;filter:alpha(opacity=80)}
/*摄像头*/
.camerapanel{
	right:0;bottom:0;z-index:10;border:1px solid #95B8E7;
	position:absolute;background-color:#f2f2f2;padding:3px;
}
.cameracontent{width:150px;height:300px;overflow:auto;position:relative;}
.cameracontent-con{height:130px;border:1px solid #95B8E7;margin-top:3px;position:relative;}
.cameratxt{display:inline-block;width:30px;text-align:right;padding:0 5px;}